@import '../variables.scss';


.root{
    font-size: 30px;
    color:black;
    text-decoration: none;
    pointer-events: all;

    h1{
        font-size: 2.25rem;
        margin: 0;
    }

}


.name{
    position: relative;
    color: $white;
    &:before {
    content: '';
    border-bottom: #000 solid .16em;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    }
 &.lila{
        color: $lila;
    }
   
}
.white{
    color: $white;
}



@include tablet {
    .root{
        h1{
            font-size: 2rem;
        }
     }
}

@include mobile {
    .root{
        h1{
            font-size: 20px;
        }
     }
}
