.text{
    max-width: 900px;
    padding:0 20px;
    margin: 0 auto; 

    p{
        margin: 0;
    }
}
.default{
    width:100%;
    max-width: 2600px;
    padding: 0 7%;
    margin: 0 auto; 
}

.full{
    width:100%;
    max-width: 2600px; 
}