@import '../variables.scss';
.text{
    
}
.default{
    background-color: transparent;
}

.red{
    background-color: $red;
}
.black{
    background-color: $black;
}
.lila{
    background-color: $lila;
}
.white{
    background-color: $white;
}