@import '../variables.scss';

.root{

width:300px;
margin: 0 auto;
height: 50px;
max-height: 50px;
position: relative;
z-index: 10;
font-weight: 600;
background-color: $white;
color: $lila;
border-bottom: $lila 3px solid;

}

.active{
    z-index: 11;

}
.label{
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 20px;
    //justify-content: center;
}
.options{
position: absolute;

}
.option{
    height: 50px;
    width: 300px;
    display: flex;
    background-color: $lila;
    align-items: center;
    color: white;
 padding-left: 20px;
 transition: background-color 0.3s, color 0.3s, padding-left 0.5s;
}
.option:hover{
    background-color: $white;
    color: $lila;
    padding-left: 40px;
}


@include tablet {
    .root{
       max-width:100%;
        margin: 0 20px;
    }
    .option{
        max-width:100%;
        
    }

    .options{
        position: relative;
        }

  
}

@include mobile {
    .options{
       
        position: relative;
        }
}
