@import '../variables.scss';

.link{
    text-decoration: none;
}


.root{
    overflow: hidden;
    background-color: $black;
    transition: background-color 0.6s ;
    padding: 10px 0;
   
}
.root:hover{
    background-color: $lila;
}
.inner{
    white-space: nowrap;
}

.text{
   
    transition: font-size 0.5s, color 0.5s;
    white-space: nowrap;
    color: $lila;
    margin: 0;
    animation-name: slide;
    animation-timing-function: linear;
    animation-duration: 30s;
    animation-iteration-count: infinite;

    &:hover{
        transition: font-size 0.5s, color 0.5s;
        animation-play-state: paused;
        font-size: 4.2em;
        color: $black;
    }
}


@keyframes slide{
    from{
        transform: translate3d(0,0,0);
    }
    to{
        transform: translate3d(-100%,0,0);
    }
}