@import './variables.scss';

body{
    font-family: 'Montserrat', sans-serif;
    color:black;
}


h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 5.75rem;
    font-weight: 800;
    
}
@include tablet {
    h1{
        font-size: 4.25rem;
    }
}

@include mobile {
    h1{
        font-size: 2.25rem;
        
    }
}
h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 3.9rem;
    font-weight: 800;
}
@include tablet {
    h2{
        font-size: 4.25rem;
    }
}

@include mobile {
    h2{
        font-size: 2.25rem;
        
    }
}
h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.75rem;
    font-weight: 800;
}
h4{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
}
@include tablet {
    h4{
        font-size: 1rem;
    }
}

@include mobile {
    h4{
        font-size: 0.9rem; 
    }
}
h5{
   
}
h6{
   
}

p{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.3em;
    padding-bottom: 20px;
}

.text-white{
    color:white;
    
}
.text-black{
    color:black;
}
.text-lila{
    color:#F5C5D9;
}
.text-red{
    color: #fa464c;
    
}

body::-webkit-scrollbar {
    display: none;
}    

