$black :black;
$green: #75f9d5;
$red:#fa464c;
$white: white;
$lila:#F5C5D9;

@mixin mobile {
    @media (max-width: 700px ) {
      @content;
    }
  }
  
  @mixin tablet {
    @media (max-width: 900px)  {
      @content;
    }
  }