@import '../../variables.scss';

.root{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;

}

@include tablet {
    .root{
       
        flex-wrap:wrap;
        
    }

  
}

@include mobile {
    
}
